.dashboard {
    width: 80vw;
    height: 60vh;
    margin: auto;
    align-self: center;
    align-content: center;
    color: #EEEBEB;
    display: grid;
    border-radius: 3rem;
    background-color: rgba(45, 89, 81, 0.7);
    display: block;
}

form{
    display: flex;
    align-content: center;
}

.hint-container{
    height: 30vh;
}

.dashboard-button{
    width: 14vw !important;
    height: 10vh !important;
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem !important;
}

.container-to-win{
    align-self: center;
}