:root {
    --white: #EEEBEB;
    --bordeaux: #8C0F26;
    --green:#2D5951;
    --red: #F23558;
    --font: 'IBM Plex Mono', monospace;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 97.8vh;
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    font-family: var(--font);
    text-align: center;
}

.logo{
    margin: 0 auto;
    height: 15rem;
    width: 18rem;
}

.enter-name-text{
    color: var(--white);
    font-size: 26px;
    width: 60%;
    align-self: center;
    margin: 0;
}

.enter-name-input{
    margin: 2rem auto;
    height: 1rem;
    width: 27rem;
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px var(--white);
    padding: 0.8rem 15rem;
    font-family: var(--font);
    font-size: large;
    text-align: center;
    color: var(--white);
}

.enter-name-submit{
    align-self: end;
    width: 10rem;
    padding: 1rem;
    border-color: var(--white);
    border-radius: 20px;
    color: var(--bordeaux);
    background-color: var(--white);
    font-weight: bolder;
    font-size: 20px;
}

.enter-name-submit:hover{
    background-color: var(--bordeaux);
    color: var(--white);
    border-color: var(--bordeaux);
}

.enter-name-div{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
}

.map{
    height: 400px;
    width: 100%;
    border-radius: 50px;
}