

.video{
    display: flex;
    margin: auto;
    margin-top: 5vh;
    align-self: center;
    border-radius:20px;
    width: 100%;
}

.button-space{
    display: flex;
    margin: 1rem;
    width: 100vw;
    justify-content: flex-end;
}

.button{
    margin: 0 3rem !important;
}