<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/win.css">
    <script src="../static/js/script.js" defer></script>
    <title>R-code Project</title>
</head>
<body>
   <img src="../static/images/logo%20ho.webp" class="logo">
    <div class="flex-container-center popup-container">
        <h2 class="title  {{ color }}">{{ title | safe }}</h2>
        <p class="text medium">{{ text | safe }}</p>
       <form action="#" >
                <input class="button flex-container-center" type="button" value="{{ button }}" onclick="location.href='{{ to }}'">
       </form>
    </div>
</body>
</html>