<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>R-code Project</title>
</head>
<body>
   <img src="../static/images/logo%20ho.webp" class="logo">
    <div class="popup-container">
        <h2 class="title green">CORRECT!</h2>
        <p class="text medium">Thank you Agent {{name}} for saving {{country}}!<br><br>
            Now you have {{failTimes}} chances to fail<br>
            with {{missionLeft}} more missions to catch the criminal.
        </p>
        <div class="popup-inside-container">
            <div class="container-ricina">
                <p>Ricina Status:</p>
                <div class="ricina-images">
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                </div>
            </div>
            <div class="flex-container-center container container-to-win">
                <span class="numbers-to-win">{{missionLeft}}</span>
                <p class="missions-to-win"> misions to win</p>
            </div>
            <div class="flex-container-center container container-location">
                <p class="text-location">You are now in:</p>
                <p >{{country}}</p>
            </div>
        </div>
    </div>
   <form action="#" >
            <input class="button flex-container-center" type="button" value="NEXT MISSION" onclick="location.href='{{ url_dashboard }}'">
   </form>
</body>
</html>