<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../static/js/countries.js" defer></script>
    <link rel="stylesheet" href="../static/css/countries.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Countries</title>
</head>
<body>
    <img src="../static/images/logo%20ho.webp" class="small-logo">
    <div id="map" class="map"></div>
</body>
<script>
    window.onload= function() {
        fetch("http://127.0.0.1:5000/get_countries")
            .then(response => response.json())
            .then(data => {
                init_map(data);
            }).catch(error => console.log(error));
    }
</script>
</html>