<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/countries.css">
    <title>R-code Project</title>
</head>
<body class="enter-name-body">
    <img src="../static/images/logo ho.webp" class="logo">
    <p class="enter-name-text">Welcome, agent. To unlock the classified files, please state your code name.</p>
    <form action="/set_name" class="enter-name-div" method="POST">
        <input class="enter-name-input" type="text" name="name" placeholder="Enter your name...">
        <input class="enter-name-submit" type="submit" value="OK">
    </form>
</body>
</html>