<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Life+Savers:wght@400;700&family=Maitree:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/enter-name.css">
    <link rel="stylesheet" href="../static/index.css">
    <title>R-code Project</title>
    <meta charset="UTF-8">
</head>
<body class="enter-name-body">
    <img src="../static/images/logo ho.webp" class="logo logo-enter-name">
    <p class="enter-name-text medium">Welcome, agent. To unlock the classified files, please state your code name.</p>
    <form action="/set_name" class="enter-name-div" method="POST">
        <input class="input" type="text" name="name" placeholder="Enter your name...">
        <input class="button" type="submit" value="OK">
    </form>
</body>
</html>