<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="../static/css/enter-name.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>R-code Project</title>
    <meta charset="UTF-8">
</head>
<body class="enter-name-body background-detective">
    <img src="../static/images/logo ho.webp" class="logo logo-enter-name">
    <p class="enter-name-text medium">Welcome, agent. To unlock the classified files, please state your code name.</p>
    <form action="/set_name" class="enter-name-div detective_name_button" method="POST">
        <input class="input" type="text" name="name" placeholder="Enter your name..." required>
        <input class="button flex-container-center detective_name_button" type="submit" value="OK">
    </form>
</body>
</html>