<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>R-code Project</title>
</head>
<body>
    <img src="../static/images/logo%20ho.webp" class="logo">
    <div class="flex-container-center popup-container">
        <p class="title bordeaux">Exit?</p>
        <p class="text medium">Do you really want to exit <br>the R-Code project?</p>
        <form class="flex-container-center" action="#" >
            <input class="exit-button exit-bordeaux-border" type="button" value="QUIT" onclick="quitClick()">
            <input class="exit-green-border exit-button" type="button" value="BACK TO MISSION" onclick="backToMission()">
        </form>
    </div>

</body>
</html>
