<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exit</title>
    <link rel="stylesheet" type="text/css"  href="../static/css/exit.css">
    <script src="../static/js/exitOrBackToMission.js"></script>


</head>
<body>

    <div id="logo">
        <img src="../static/images/logo.png" height="157" width="268"/>
    </div>

    <div id="content-box">

        <p class="red-text">Exit?</p>
        <p class="black-text">Do you really want to exit <br>the R-Code project?</p>

        <div class="button-red">
            <form action="#" >
            <input type="button" value="QUIT" onclick="quitClick()">
            </form>
        </div>
        <div  class="button-green">
            <form action="#">
            <input type="button" value="BACK TO MISSION" onclick="backToMission()">
        </form>
        </div>


    </div>

</body>
</html>
