<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game over</title>
    <link rel="stylesheet" type="text/css" href="../static/gameOver.css">
</head>
<body>
   <div id="logo">
        <img src="../static/images/logo.png" height="157" width="268">
    </div>
   <div id="content-box">
        <h2 class="over">GAME OVER!</h2>
        <p class="text">Sorry Agent {{name}},<br>
            We can not catch the criminal this time.<br>
            Let's try again.
        </p>
       <img class='badge' src="../static/images/badge%20block.png" height="360" width="640"/>
        <p class="name">{{name}}</p>
        <p class="number">{{number}}</p>

        <p class="small-text">Mission:{{}}<br>
            Success:{{}}<br>
            Fail:{{}}
        </p>
    </div>

    <div class="again">
            <form action="#" >
            <input type="button" value="PLAY AGAIN">
            </form>
    </div>
</body>
</html>