<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/countries.js" defer></script>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/win.css">
    <title>Game over</title>
</head>
<body>
    <img src="../static/images/logo%20ho.webp" class="logo">
    <div class="popup-container">
        <h2 class="title bordeaux">GAME OVER!</h2>
        <p class="text medium">Sorry Agent {{name}}, you did not catch the criminal this time.<br>
            Try again.
        </p>
        <div class="flex-container-center popup-inside-container">
            <div class="flex-container-center container badge-container">
                <img src="../static/images/badge%20icon.webp" class="badge-image">
                <div class="text-badge">
                    <p>Agent: {{name}}</p>
                    <p>Agent number: {{number}}</p>
                </div>
            </div>
            <div class="congrats-text-container">
                <p>Mission:{{}}</p>
                <p>Success:{{}}</p>
                <p>Fail:{{}}</p>
            </div>
        </div>
    </div>

   <form action="#" >
       <input class="flex-container-center button" type="button" value="PLAY AGAIN" onclick="nextMission()">
   </form>
</body>
</html>