<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/countries.js" defer></script>
    <script src="../static/js/answersCheck.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>R-Code Project</title>
    <meta charset="UTF-8">
</head>
<body>
   <img src="../static/images/logo%20ho.webp" class="logo">
    <div class="popup-container">
        <h2 class="title bordeaux">INCORRECT!</h2>
        <p class="text medium">Sorry Agent {{name}}, your answer is not correct.<br><br>
            Now you have {{times}} chances to fail<br>
            to fail with {{times}} more missions to catch the criminal.
        </p>
        <div class="popup-inside-container">
            <div class="container-ricina">
                <p class="small">Ricina Status:</p>
                <div class="ricina-images">
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                    <img class='ricina-img' src="../static/images/ricina%20fill.png" >
                </div>
            </div>
            <div class="flex-container-center container container-to-win">
                <span class="numbers-to-win">4</span>
                <p class="missions-to-win"> misions to win</p>
            </div>
            <div class="flex-container-center container container-location">
                <p class="text-location">You are now in:</p>
                <p >{{country}}</p>
            </div>
        </div>
    </div>

   <form class="flex-container-center" action="#" >
            <input class="button" type="button" value="TRY AGAIN" onclick="nextMission()">
   </form>
</body>
</html>