<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect</title>
    <link rel="stylesheet" type="text/css" href="../static/css/incorrect.css">
    <script src="../static/js/answersCheck.js"></script>

</head>
<body>
    <div id="logo">
        <img src="../static/images/logo.png" height="157" width="268">
    </div>

    <div id="content-box">
        <h2 class="incorrect">INCORRECT!</h2>
        <p class="text">Sorry Agent {{name}}, your answer is not correct.<br><br>
            Now you have {{times}} chances to fail<br>
            to fail with {{times}} more missions to catch the criminal.
        </p>
        <img class='status' src="../static/images/13.png" height="216" width="384"/>

         <img class='ricina1' src="../static/images/killicon.webp" height="45" width="81">
         <img class='ricina2' src="../static/images/ricina%20fill.png" height="45" width="81">
        <img class='ricina3' src="../static/images/ricina%20fill.png" height="45" width="81">
        <img class='ricina4' src="../static/images/ricina%20fill.png" height="45" width="81">
        <img class='ricina5' src="../static/images/ricina%20fill.png" height="45" width="81">

        <img class='mission' src="../static/images/14.png" height="180" width="320"/>
        <p class="number">{{times}}</p>
        <img class='location' src="../static/images/location%20block%201.png" height="216" width="384"/>
        <p class="country">{{country}}</p>
    </div>
    <div class="try">
            <form action="#" >
            <input type="button" value="TRY AGAIN" onclick="tryAgain()">
            </form>
    </div>

</body>
</html>