<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-Code Project </title>
    <link rel="stylesheet" href="/static/intro.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lato&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="vdo-space">
        <video width="1850" height="760">
            <source src="/static/video/R-Code-Intro.mp4" type="video/mp4">
        </video>
    </div>
    <div class="button-space">
        <button id="how-to-play">HOW TO PLAY</button>
        <button id ="skip" type="button" onclick="location.href='mission-file.html'">SKIP</button>
    </div>

</body>
</html>