<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Life+Savers:wght@400;700&family=Maitree:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/intro.css">
    <link rel="stylesheet" href="../static/index.css">
    <title>R-code Project</title>
</head>
<body>
       <iframe class="video"
    src="https://www.youtube.com/embed/R54DFTXVAoM?autoplay=1&controls=0"
    allow="autoplay; encrypted-media"
    allowfullscreen
  ></iframe>
         <section class="button-space">
            <button id="how-to-play" class="exit-button exit-bordeaux-border" onclick="location.href='howto.html'">HOW TO PLAY</button>
            <button id ="skip" class="exit-button exit-bordeaux-border" type="button" onclick="location.href='mission-file.html'">SKIP</button>
        </section>
</body>
</html>