<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-Code Project Game</title>
    <link rel="stylesheet" href="../static/css/mission-file.css">
</head>
<body>
    <div class="logo">
        <img src="../static/images/logo%20ho.webp" alt="Logo">
    </div>
    <div class="mission-file">
        <img id="file-nor" src="../static/images/file.webp" alt="mission file">
        <img id="file-hover" src="../static/images/file%20hover.webp" alt="mission file hover">
    </div>
</body>
</html>