<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-Code Project Game</title>
    <link rel="stylesheet" href="/static/mission-file.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lato&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo">
        <img src="/static/images/logo%20ho.webp" alt="Logo">
    </div>
    <div class="mission-file">
        <img id="file-nor" src="/static/images/file.webp" alt="mission file">
        <a href="{{ url_dashboard }}"><img id="file-hover" src="/static/images/file%20hover.webp" alt="mission file hover"></a>
    </div>
</body>
</html>