<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/mission-file.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/countries.js" defer></script>
    <link rel="stylesheet" href="../static/index.css">
    <title>R-Code Project</title>
    <meta charset="UTF-8">
</head>
<body>
    <img src="../static/images/logo ho.webp" class="logo logo-countries">
    <img class="mission-file" id="file-nor" src="/static/images/file.webp" alt="mission file">
</body>
<script>
    let file= document.getElementById("file-nor");
    file.addEventListener("mouseover", ()=>
        file.src = "/static/images/file hover.webp"
    )
    file.addEventListener("mouseout", ()=>
        file.src="/static/images/file.webp"
    )
</script>
</html>