<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/start.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>R-code Project</title>
    <meta charset="UTF-8">
</head>

<body class="start-div background-detective">
        <img class="big-logo" src="/static/images/logo%20ver%20wh.webp" alt="Logo">
        <button class="button" onclick="location.href='http://127.0.0.1:5000/detective_name'">START</button>
</body>
</html>