<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-Code Project Game</title>
    <link rel="stylesheet" href="../static/css/start.css">
</head>

<body>
    <div class ="wrapper">
        <div class="logoVer">
            <img src="../static/images/logo%20ver%20wh.webp" alt="Logo">
        </div>
        <div class ="button">
            <button class = "start-bt">START</button>
        </div>
    </div>
<script>
  document.querySelector('button').addEventListener('click', function(){
  window.location.href = 'http://127.0.0.1:5000/detective_name'
  })
</script>
</body>
</html>