<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>R-Code Project</title>
    <meta charset="UTF-8">
</head>
<body>
    <img src="../static/images/logo%20ho.webp" class="logo">
    <div class="popup-container">
        <h2 class="title green">CONGRATULATIONS!</h2>
        <p class="text medium">You've catched the criminal in time.<br>
            Thank you for saving the world from Ricina!
        </p>
        <div class="popup-inside-container">
            <div class="flex-container-center container badge-container">
                <img src="../static/images/badge%20icon.webp" class="badge-image">
                <div class="text-badge">
                    <p>Agent: {{name}}</p>
                    <p>Agent number: {{number}}</p>
                </div>
            </div>
            <div class="congrats-text-container">
                <p>Mission:{{}}</p>
                <p>Success:{{}}</p>
                <p>Fail:{{}}</p>
            </div>
        </div>
    </div>

   <form class="flex-container-center" action="#" >
       <input class="button" type="button" value="PLAY AGAIN" onclick="nextMission()">
   </form>
</body>
</html>